body {
    font-family: "Helvetica Neue";
}

h1 {
    color: red;
    font-size: 2.2em; //35px;
    margin-left: 10px;
    margin-bottom: 30px;
}

p {
    font-size: 12px;
    margin: 0;
}

dialog[open] {
    height: 550px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://www.metmuseum.org/-/media/images/about-the-met/collection-areas/esda/esda-marquee.jpg?as=1&mh=940&mw=2320&sc_lang=en&hash=086D5684A2FE410D5B1145FE309FE55E");
    color: white;
    font-style: bold;
    font-size: 25px;
    // font-weight: 500;
}

dialog[open] span {
    margin-top: 46px;
    margin-right: 40px;
    margin-bottom: 20px;
}

nav {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    margin-top: -10px;
}

#instructions {
    margin: 0;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: 0;
    padding-bottom: 0;
}
.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color:red;
}

.search-bar input {
    font-size: 17px;
    color: gray;
    margin-right: 0px;
}

.search-bar label {
    font-weight:400;
}

.search-bar #search-category {
    font-size: 17px;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}

.time-periods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 15px;
}

.works {
    font-style: italic;
}

#selected-work-image {
    height: auto;
    width: 45%;
}

#met-background {
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

.outer {
    display: flex;
}

.inner {
    height: 400px;
    width: 600px;
}

.inner-title {
   font-size: 12px;
   margin-left: 15px;
   // font-weight: bold;
}

#display {
    background-color: rgb(232, 231, 231);
    border: 1px solid black;
    border-right: 1px solid rgb(203, 203, 203);
    width: 58%;
    height: 44vw;
    // display: flex;
}

.inner-charts {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.chart-title span {
    font-size: 14px;
    font-weight: 460;
    margin-bottom: 15px;
}

#pie-chart-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#horiz-chart-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.tooltip {	
    position: absolute;			
    text-align: center;								
    padding: .5rem;				
    background: #FFFFFF;
    color: #313639;	
    border: 1px solid #313639;		
    border-radius: 8px;			
    pointer-events: none;
    font-size: .8rem;			
}

#selected-work {
    background-color: rgb(241, 241, 233);
    border: 1px solid black;
    border-left: 1px solid rgb(236, 236, 236);
    width: 42%;
    height: 44vw;
}

#selected-work p {
    font-style: normal;
}

.location {
    margin-bottom: 10px;
}

.description {
    margin-top: 10px;
    margin-right: 20px;
}

.works li {
    list-style-type: none;
}

.time-periods li:hover {
    cursor: pointer;
    // background-color: white;
    // color: rgb(114, 111, 111);
    text-decoration: underline;
}